.book-continer {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid red;
    width: 100%;
}

.book h3,
h4 {
    width: 250px;
    text-align: left;
    background-color: rgb(38, 179, 179);
    color: white;
    line-height: 30px;
    padding: 0px 20px;
    text-transform: uppercase;
}

.book h4 {
    background-color: thistle;
    color: rgb(131, 34, 34);
}

.book h3 span {
    color: brown;
}

.book h3 {
    cursor: pointer;
}

input {
    height: 10px;
    width: 100px;
    padding: 10px 20px;
    margin-top: 18px;
}